@using Recipes.Core
@{
   var categories = ViewBag.Categories as IEnumerable<Category>;
   var saves = ViewBag.Saves as IEnumerable<Save>;
}

@model Save

<div class="text-center">
    <h3>Вибране</h3>
</div>
<hr />
<br />

 <section class="best-receipe-area">
       <tbody>
        <div class="container row">
            @foreach (var item in saves)
            {
                          <div class="col-12 col-sm-6 col-lg-4">
                            <div class="single-best-receipe-area mb-30">
                                         <img src="@item.infoDish.IconPath" alt="">
                                    <div class="receipe-content">
                                        <a href="receipe-post.html">
                                <h5 class="card-title">@item.infoDish.Title</h5>
                                        </a>
                                            <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <br>
                                             <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">                                                    
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Details" asp-controller="InfoDish" asp-route-id="@item.Id">Деталі</a>
                                                    <a class="btn btn-sm btn-outline-secondary" asp-action="Delete" asp-controller="Save" asp-route-id="@item.Id">Видалити</a>
                                                </div>
                                             </div>
                            </div>
                          </div>
            }
        </div>
    </tbody>

            </div>
        </div>
 </section>